*{
  font-family: 'Montserrat', sans-serif;
}
body{
	cursor: pointer;
  background: rgb(31, 25, 63);
  transition: 0.7s;
}
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;
}
#grid > div {
  padding: 30px;
  background: rgba(255, 255, 255, 0.034);
  color: #fff;
  text-align: center;
}