img#TropicCircle { 
  margin-left: 40%;
  margin-top: 200px;
  /*position: relative;*/
}
img#SiderCircle { 
  margin-left: -374px;
margin-top: 114px;
position: absolute;
}
img#AstrolCircle { 
  margin-left: -457px;
margin-top: 33px;
position: absolute;
}
img#Sun {
position: absolute;
margin-left: -206px;
margin-top: -30px;
}
img#Moon {
  position: absolute;
  margin-left: -202px;
  margin-top: -30px;
  }
div#Circle { 
  display: block;
  margin-top: 50px;
}
body {
  background: url("https://www.anypics.ru/download.php?file=201304/2560x1600/anypics.ru-62557.jpg") center repeat;
}
p#ZnakZodiak, p#ZnakMoon {
font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
font-size: 20px;
  text-align: center;
  color: white;
}