img#TropicCircle { 
  margin-left: 40%;
  margin-top: 200px;
  position: relative;
}
img#SiderCircle { 
  margin-left: -374px;
margin-top: 114px;
position: absolute;
}
img#AstrolCircle { 
  margin-left: -457px;
margin-top: 33px;
position: absolute;
}
img#Sun {
position: absolute;
margin-left: -206px;
margin-top: -30px;
}
div#Circle { 
  display: block;
  margin-top: 150px;
}
body {
  background: url("https://www.anypics.ru/download.php?file=201304/2560x1600/anypics.ru-62557.jpg") center repeat;
}