*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    overflow: hidden;
}


.right   { position: relative; left:640px; top: 200px;}
.left  { position: relative; right:230px; bottom: 150px}
.phase { position: relative; right: 270px}
