img#TropicCircle { 
  margin-left: 5%;
  margin-top: 0px;
  position: relative;
}
img#SiderCircle { 
  margin-left: -188px;
  margin-top: -44px;
  position: absolute;
}
img#AstrolCircle { 
  margin-left: -228px;
  margin-top: -83px;
  position: absolute;
}
img#Sun {
  position: absolute;
  margin-left: 5px;
  margin-top: -33px;
}
img#Moon {
  position: absolute;
  margin-left: -101px;
  margin-top: -110px;
  }
div#Circle { 
  display: block;
  margin-top: 110px;
}
#Circle{
  min-height: 250px;
}
p#ZnakSun, p#ZnakMoon, p#constellationMoon {
  margin-top: -10px;
  margin-left: 15px;
  font-size: 15px;
  text-align: center;
  color: white;
  }