.container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Montserrat';
    max-width: 350px;
    min-height: 80px;
    /* max-height: 80px; */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.info {
    margin-top: -1em;
    font-weight: 600;
    /* font-size: 20px; */
    background: rgba(255, 255, 255, 0.3);
    height: 30px;
    line-height: 30px;
    align-self:center;
    border-radius: 10px 10px 0px 0px;
    /* text-align: center; */
}
.currency{
    padding: 15px;
}