.smiles{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-top: 15px;
    min-height: 100px;
    /* max-height: 150px; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.smiles img{
    width: 70px;
}
.happy, .love, .sad {
    display: inline-block; 
    margin: 10px;
    opacity: .3;
}

.happy:hover img, .love:hover img, .sad:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
}

.happy:hover, .love:hover, .sad:hover {
    opacity: 1;
}
.smiles button{
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
}

@keyframes fall {
  from {
    top: -10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    top: 110vh;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.confetti1, .confetti2, .confetti3 {
  position: absolute;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  width: 10px;
  height: 10px;
  font-size: 30px;
  animation: fall 2s cubic-bezier(0.05, 0.46, 1, 1);
}
