.smiles{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-top: 15px;
    min-height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.smiles img{
    width: 70px;
}
.happy, .love, .sad {
    display: inline-block; 
    margin: 10px;
    opacity: .3;
}

.happy:hover img, .love:hover img, .sad:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
}

.happy:hover, .love:hover, .sad:hover {
    opacity: 1;
}