.left{
	padding: 10px;
	width: 300px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}
#location, #risesetmoon, #locationmoon, #statemoon{
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 5px;
	margin: 10px;
}
#fases{
	padding-top: 10px;
}
#fases img{
	width: 200px;
}
.mooncalc-today{
	padding-top: 0;
	font-size: 26px;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 600;
}
#entereddate p{
	margin-bottom: 0;
	margin-top: 20px;
}
#time{
	font-size: 24px;
	/* font-weight: 600; */
	margin-bottom: 20px;

}
.birthday input{
	padding: 5px;
	border-radius: 20px;
	outline: none; 
	border: none; 
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	margin: 10px 0;
}
.birthday input:focus{
	/* background: linear-gradient(21deg, #10abff, #1beabd); */
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.birthday button{
	opacity: 0.8;
	/* border-radius: 20px; */
	background-image: url('../img/moonCalculatorWidget/search.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 15px;
	margin-left: 5px;
	margin-top: 9px;
	position: absolute;
	outline: none; 
	border: none; 
	/* background-color: rgba(255, 255, 255, 0.2); */
	background-color: rgba(255, 255, 255, 0);
}