/* окошко с заметкой */
.zametki{
    width: 100%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* блок с текстом заметки о лунном дне */
.text_zametki{
    height: 100px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-spacing: initial;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }

/* заголовок блока */
.title_zametki{
    padding: 25px 15px 10px 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

/* кнопка */
.button_zametki {
    width: 100%;
    height: 40px;
    font-weight: 600;
    background:transparent;
    border: none; 
    outline: none;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 2em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    }
    
    .button_zametki span {
    position: relative;
    pointer-events: none;
    }
    
    .button_zametki::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #f8f8f86e, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
    }
    
    .button_zametki:hover::before {
    --size: 400px;
    }

/*Луна*/     
#Moon_zametki{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*звездочки*/
.stars .star1 {
    -webkit-animation: stars-pulse 2s ease-in-out infinite;
    animation: stars-pulse 2s ease-in-out infinite;
    left: 0;
}

.stars .star2 {
    -webkit-animation: stars-pulse 2s 0.2s ease-in-out infinite;
    animation: stars-pulse 2s 0.2s ease-in-out infinite;
    left: 25px;
}

.stars .star3 {
    -webkit-animation: stars-pulse 2s 0.4s ease-in-out infinite;
    animation: stars-pulse 2s 0.4s ease-in-out infinite;
    left: 50px;
}

/* пульсация звезд */
@-webkit-keyframes stars-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes stars-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}
